version: '3.8'

services:

  database:
    container_name: helifox_database
    build:
      context: ./docker/database
    environment:
      - MYSQL_DATABASE=mydb
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=secret
    ports:
      - "3306:3306"
    volumes:
      - ./docker/database/data.sql:/docker-entrypoint-initdb.d/data.sql
      - ./docker/database/data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  php-fpm:
    container_name: helifox_php_fpm
    build:
      context: ./docker/php-fpm
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./www:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PHP_VERSION=8.4

  apache2:
    container_name: helifox_apache_2
    build:
      context: ./docker/apache
    volumes:
      - ./www:/var/www/html
    ports:
      - "8881:80"
      - "8882:443"
    depends_on:
      - php-fpm

  phpmyadmin:
    container_name: helifox_phpmyadmin
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - 8000:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=database
      - PMA_USER=myuser
      - PMA_PASSWORD=secret
    depends_on:
      - database
