{% extends 'base.html.twig' %}

{% block title %}Hola{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
{% endblock %}

{% block body %}
    <ul>
        <li>{{ txt_1 }}</li>
        <li>{{ txt_2 }}</li>
    </ul>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>console.log('Hola')</script>
{% endblock %}